<p>
    Faktiske og "UKM-kommuner" avviker.
     Her settes disse to listene opp mot hverandre
</p>
<a class="btn btn-xs btn-primary" href="?page={{ GET('page') }}&action=kommuner">Vis sammenligning</a>