<div class="col-12 col-sm-12">
    <h2>Nullstill passord</h2>
    
    {% if not GET('do') %}
        <p class="lead">
            Denne nullstiller absolutt alle passord i systemet. 
            Glemt passord vil funke, men alle brukere som har samme navn som kommune/fylke vil deaktiveres.
        </p>

        <a href="?page={{GET('page')}}&action={{GET('action')}}&do=true" class="btn btn-warning">Deaktiver alle</a>
    {% else %}
        <p class="lead">Alle brukere har fått nye passord og er nå deaktivert.</p>
        <p>UKM Norge-brukeren er urørt. Husk å oppdatere passordet manuelt!</p>
    {% endif %}
</div>