<tr>
	<td>Opprett undersider</td>
	<td>
		<p>
			Sørg for at alle nettsteder har de riktige standardsidene lagt til.
		</p>
		<p>
			<a class="btn btn-primary btn-xs" href="?page={{ GET('page') }}&action=create_pages&start=0">Kontroller og fiks</a>
		</p>
	</td>
</tr>
