<table class="table table-dashboard">
    <thead>
        <tr>
            <th colspan="2">Data-import</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Postnummer</td>
            <td>{% include "postnummer.html.twig" %}</td>
        </tr>

        <tr>
            <td>Målgruppe</td>
            <td>{% include "SSB/levendefodte.html.twig" %}</td>
        </tr>
        <tr>
            <td>Kommuneareal</td>
            <td>{% include "SSB/kommuneareal.html.twig" %}</td>
        </tr>
        <tr>
            <td>Kommuner</td>
            <td>{% include "SSB/kommuner.html.twig" %}</td>
        </tr>
    </tbody>
</table>
