<tr>
	<td>Bytt tema</td>
	<td>
		<p>
			Her kan du bytte tema på alle sites i nettverket til `{{ current_theme }}`.
		</p>
		<p>
			<a class="btn btn-primary btn-xs" href="?page={{ GET('page') }}&action=theme_change&start=0">Start bytte</a>
		</p>
	</td>
</tr>
