<h4>Kommuner i Norge</h4>
<p class="lead">Sammenligningen er midlertidig deaktivert.</p>

<ol style="margin-left: 1.5em;">
    <li><a href="?page={{GET('page')}}&action=kommuner/importChanges">Se endringer i SSB-databasen</a></li>
    <li><a href="?page={{GET('page')}}&action=kommuner/importAll">Importer alle SSB-kommuner</a></li>
    <li><a href="?page={{GET('page')}}&action=kommuner/review">Gjennomgå kommuner</a></li>
    <li><a href="?page={{GET('page')}}&action=kommuner/deactivate">Deaktiver utdaterte kommuner</a></li>
</ol>
