<div class="clearfix"></div>

<h2>Re-generer mod-rewrites (kortadresser)</h2>
<p class="lead">Fjerner uønskede 404-sider</p>
<p>
	Noen ganger klarer Wordpress å ødelegge kortadresser for enkelte sites, og man får 404 på sider som eksisterer. 
	Ved å kjøre denne funksjonen kopierer du hovedbloggens re-writes ut til alle.
</p>
<p>
	<a href="?page=UKMsystemtools_modrewrite&start=0" class="btn btn-success">Start synkronisering</a>
</p>