{% extends 'layout.twig.html' %}

{% block content %}
	<h3>Oppdater SSB-data</h3>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="well">
			{% embed 'SSB/levendefodte.html.twig' %}{% endembed %}
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="well">
			{% embed 'SSB/kommuneareal.html.twig' %}{% endembed %}
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="well">
			{% embed 'SSB/kommuner.html.twig' %}{% endembed %}
		</div>
	</div>
{% endblock %}