<div class="clearfix"></div>

<h2>Test påmeldingssystemet <label class="label label-{{ status }}">Godkjent for {{ delta_is_tested }}</label></h2>
<p class="lead">Påmeldingssystemet må testes manuelt hver gang en ny sesong settes opp!</p>
<p>Vanligvis holder det å gjennonmføre én påmelding, men forsøk minst én for innslag med titler, og én for innslag uten titler (UKM Media/konferansier++).</p>
<p>Når systemet er manuelt testet og godkjent for en ny sesong trykker du på knappen nedenfor</p>

{% if 'success' != status %}
	<p>
		<a href="?page=UKMsystemtools_deltaTest&approved=true" class="btn btn-warning">Godkjent og klar for ny sesong!</a>
	</p>
{% endif %}