{% extends "fatalError.html.twig" %}

{% block content %}
    <h1>Dropbox-tilkobling konfigurert!</h1>
    <p class="lead">Alt fungerer som det skal, og du kan nå lukke denne siden.</p>

    <p>Ha en fin dag!</p>
{% endblock %}