{% extends "fatalError.html.twig" %}

{% block content %}
    <h1>Au, her gikk det galt</h1>
    <p class="lead">Noe gikk galt med flickr-tilkoblingen, og alt har stoppa helt opp. Beklager. <a href="{{ link }}">Prøv igjen</a></p>

    <code style="margin-top: 2em;">
        {{ error }}
    </code>
{% endblock %}