{% extends "fatalError.html.twig" %}

{% block content %}
    <h1>Hoi, det gikk galt det!</h1>
    <p class="lead">Flickr ville ikke lage en URL for å godkjenne forespørselen. Oppdater denne siden, kanskje det går bedre da.</p>
{% endblock %}